<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="fileLogger" fileName="logs/module11.csv">
      <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true">
        <column name="date" layout="${longdate}" />
        <column name="level" layout="${uppercase:${level}}"/>
        <column name="message" layout="${message}" />
      </layout>
    </target>
    <target xsi:type="Console" name="consoleLogger" layout="${longdate}, ${uppercase:${level}}, ${message}" />
  </targets>

  <rules>
    <!--logger name="*" level="Debug" writeTo="consoleLogger" /-->
    <logger name="*" level="Info" writeTo="fileLogger" />
    <logger name="*" level="Error" writeTo="fileLogger" />
  </rules>
</nlog>
